{% extends "base.html" %}

{% block title %}Search and Display{% endblock %}

{% block content %}

<div>
    <!-- <input type="text" id="searchBox" placeholder="Enter search string"> -->
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Enter search string</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
        id="searchBox">
        <button type="button" class="btn btn-primary" onclick="searchDocuments()">Search</button>
    </div>
    <!-- <button onclick="searchDocuments()">Search</button> -->
</div>

<ul id="resultList" class="list-group">
</ul>

<textarea id="selectedText" rows="5" class="form-control" readonly></textarea>

<div>
    <img id="documentViewer" src="#" class="img-fluid" alt="">
</div>

<script>
    function searchDocuments() {
        const query = document.getElementById('searchBox').value;
        fetch(`/api/search?query=${query}`)
            .then(response => response.json())
            .then(data => {
                const resultList = document.getElementById('resultList');
                resultList.innerHTML = '';

                data.results.forEach(result => {
                    const li = document.createElement('li');
                    li.textContent = result.original_filename;
                    li.className = "list-group-item";
                    li.onclick = () => {
                        document.getElementById('selectedText').value = result.converted_text;
                        document.getElementById('documentViewer').src = `/media/${result.full_path}`;
                    };
                    resultList.appendChild(li);
                });
            });
    }
</script>

{% endblock %}   