{% extends "base.html" %}

{% block title %}Search and Display{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Keyword:</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                    id="searchBox">
                    <button type="button" class="btn btn-primary" onclick="searchDocuments()">Search</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <ul id="resultList" class="list-group">
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <textarea id="selectedText" rows="5" class="form-control" readonly></textarea>
        </div>
    </div>

    <div class="row">
        <div>
            <img id="documentViewer" src="#" class="img-fluid" alt="">
        </div>
    </div>
</div>

<script>
    function searchDocuments() {
        const query = document.getElementById('searchBox').value;
        fetch(`/api/search?query=${query}`)
            .then(response => response.json())
            .then(data => {
                const resultList = document.getElementById('resultList');
                resultList.innerHTML = '';

                data.results.forEach(result => {
                    const li = document.createElement('li');
                    li.textContent = result.filename;
                    li.className = "list-group-item";
                    li.onclick = () => {
                        document.getElementById('selectedText').value = result.converted_text;
                        document.getElementById('documentViewer').src = `/media/${result.filename}`;
                    };
                    resultList.appendChild(li);
                });
            });
    }
</script>

{% endblock %}   